@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="get" value="Get" onclick="javascript: populate_mass_process(callback_for_populate_mass_process);">Open Edit Mass Action</button>

<script src="~/js/mass-action-helper.js"></script>
<script src="~/js/mass-action-events.js"></script>